@import url("https://fonts.googleapis.com/css2?family=Chela+One&family=Geologica:wght@100;300;500;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Geologica", sans-serif;
  scroll-behavior: smooth !important;
  transition: all 0.1s;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
